<header>
  <div class="container">
    <a href="#" class="sidenav-trigger top-nav waves-effect waves-light circle hide-on-large-only" data-target="side-nav">
      <i class="material-icons">menu</i>
    </a>
  </div>

  <ul id="side-nav" class="sidenav sidenav-fixed">
    <li class="logo">
      <a routerLink="" class="brand-logo">
        <div class="logo-img">
          <img src="assets/angular.png" alt="Angular" />
          <span class="plus">+</span>
          <img src="assets/datatables.png" alt="DataTables" />
        </div>
      </a>
    </li>

    <!-- DT Version Dropdown -->
    <li>
      <a class="dt-version-button btn-flat dropdown-trigger" data-target="dropdown1">
        DT version: {{ dtVersion }}
        <i class="material-icons right">arrow_drop_down</i>
      </a>
      <ul id="dropdown1" class="dropdown-content">
        <li [class.active]="dtVersion === 'v2'" (click)="onDTVersionChanged('v2')">v2.x</li>
        <li [class.active]="dtVersion === 'v1'" (click)="onDTVersionChanged('v1')">v1.x</li>
      </ul>
    </li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Getting Started</a></li>
    <li class="bold"><a routerLink="/getting-started" class="waves-effect waves-blue">Installation</a></li>
    <li class="bold"><a routerLink="/basic/with-ajax" class="waves-effect waves-blue">Quickstart</a></li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Usage</a></li>

    <!-- Collapsible menu for Angular examples -->
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold">
          <a class="collapsible-header waves-effect waves-blue">Basic Examples</a>
          <div class="collapsible-body">
            <ul>
              <li><a routerLink="/basic/zero-config" class="waves-effect waves-blue">Zero configuration</a></li>
              <li><a routerLink="/basic/with-options" class="waves-effect waves-blue">With options</a></li>
              <li><a routerLink="/basic/with-ajax-callback" class="waves-effect waves-blue">AJAX using DT callback</a></li>
              <li><a routerLink="/basic/new-server-side" class="waves-effect waves-blue">Server side</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Support</a></li>
    <li class="bold"><a routerLink="/faq" class="waves-effect waves-blue">FAQ</a></li>
    <li class="bold"><a routerLink="/more-help" class="waves-effect waves-blue">Resources</a></li>
  </ul>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="page-footer">
  <div class="container">
    <p class="grey-text text-darken-4">
      Designed and built with ❤️ by
      <a href="https://github.com/l-lin">Louis LIN</a> and
      <a href="https://github.com/shanmukhateja">Surya Teja K</a>.
    </p>
  </div>
</footer>
